@model Pagina_Agripac.Motivo_Asistencia

@{
    ViewBag.Title = "Details";
}

<h2>Consulta de Motivos de Inasistencia</h2>

<div>
    <h4>Motivo_Asistencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMotivo_Asistencia }) |
    @Html.ActionLink("Regresar", "Index")
</p>
