@model Pagina_Agripac.Cargo

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de los cargos</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_cargo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
